@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-white text-gray-800; }



/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
